body {
    background-image: url("back.png");
}

.center {

    text-align: justify;
    
}

.zoom:hover {
    width: 40%;
    height: auto;
}

%p {
    font-family: Helvetica;

}

$color: red;      

#sm {
    color: $color;

}        

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}

@media only screen and (max-width: 700px) {
    img {
      height: auto;
      width: 100px;

    }                   
}

div {
    font-size: 14px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%
    }
    

    p {
        @extend %p;
        text-align: center;
    }

    h4 {
        text-align: center;
    }
}
  