body {
    background-image: url("back.png");
}

.center {

    text-align: justify;
    
}

.zoom:hover {
    width: 400px;
    height: auto;
}

p {
    font-family: Arial;

}

#sm {
    color: crimson;
}

